@mixin respond-to($media) {
  @if $media == 'phone' {
    @media (max-width: 564px) {
      @content;
    }
  } @else if $media == 'tablet' {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $media == 'desktop' {
    @media (min-width: 1024px) {
      @content;
    }
  }
}
.s2_leftItem {
  display: flex;
  gap: 10px;
  @include respond-to('phone') {
    flex-direction: column;
  }
  justify-content: space-between;
  .indiItem {
    display: flex;
    @include respond-to('phone') {
      flex-direction: column;
    }
    img {
      padding: 5px;
    }
    .itemDesc {
      display: flex;
      flex-direction: column;
      gap: 5px;
      p {
        font-size: 15px;
      }
    }
  }
  .itemButtons {
    display: flex;
    flex-direction: column;
    button {
      color: red;
      font-size: 30px;
      text-align: right;
      padding: 10px;
      background-color: white;
      border: none;
    }
  }
}
