@mixin respond-to($media) {
  @if $media == "phone" {
    @media (max-width: 564px) {
      @content;
    }
  } @else if $media == "tablet" {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $media == "desktop" {
    @media (min-width: 1024px) {
      @content;
    }
  }
}
.main {
  margin-top: 100px;
  height: 100vh;
  background-color: #fbfaf0;
  // border: 2px solid red;
  display: flex;
  padding: 40px;
  // align-items: center;

  .left {
    flex: 2;
    @include respond-to("phone") {
      display: none;
    }
    // border: 2px solid blue;
    img {
      // border: 2px solid green;
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
  .right {
    flex: 1;
    padding: 40px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // border: 2px solid orange;
    .right_subcontainer {
      // border: 1px solid green;
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    .top {
      display: flex;
      flex-direction: column;
      gap: 15px;

      h2 {
        font-size: 32px;
        font-weight: 500;
        text-align: left;
      }
      p {
        font-size: 18px;
        text-align: left;
      }
    }
    .mid {
      // border: 2px solid blue;
      padding: 10px 0;
      display: flex;
      flex-direction: column;
      gap: 25px;
      .fields {
        border-bottom: 2px solid rgb(173, 171, 171);
        padding: 5px;

        input {
          outline: none;
          width: 100%;
          border: none;
          text-align: left;
          font-size: 16px;
          background-color: #fbfaf0;
        }
      }
    }
    .bottom {
      button {
        padding: 10px 20px;
        height: max-content;
        width: 100%;
        // border: 2px solid blue;
        font-size: 16px;
        background-color: #b3a209;
        color: white;
        border: none;
        border-radius: 3px;
        cursor: pointer;

        &:hover {
          background-color: #d4c535;
        }
      }
    }
  }
}
